#about-us.padding {
    padding-top: calc(6rem + 72px);
    padding-bottom: 6rem;
}
#about-us{
    background-color: #f58f7e;
    .grid{
        display: inline-grid;
    }
    .cont-slide{
        display: none;
    }
    .btn-danger{
        border-color: #f17c61;
        background-color: #ff7656;
        &:hover{
            background-color: #fc4545;
        }
    }
    p{
        margin-top: 50px;
        font-size: 15pt;
        text-align: justify;
        line-height: 45px;
    }
    ul{
        li{
            list-style: none;
            text-align: left;
            font-size: 15pt;
            line-height: 45px;
            &:before{
                content:"- ";
            }
        }
    }
}
.button{
    margin-bottom: 15px;
    width: 100%;
}
