#acc_guide {
    background-color: #d591a7;
    .btn-outline-danger{
        border-color: #aa81a6;
        &:hover{
            background-color: #aa81a6;
        }
    }
}
#acc_guide hr.star-light:after {
    background-color: #d591a7;
}

#acc_guide_aptm {
    background-color: $primary;
}
#acc_guide_saptm {
    background-color: $third;
}
.active{
    background: rebeccapurple;
}

.acc_guide_aptm .strong{
    font-weight: 600;
    text-decoration: underline;
}