.admin{
  background: rebeccapurple;
  padding-top: 150px;
  color: green;
}
.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 1.8vh;
  font-weight:bolder;
  letter-spacing: 1px;
  text-align: center;
  background-color: #5ec2e1;
}
.tab{
  margin-top: 20px;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(15, 25%);
  grid-auto-rows: 50px;
  grid-auto-columns: 40px;
}
input{
  border-bottom-color: green;
  border-radius: 10px;
  width: 170px;
}
.line{
  padding-top: 25px;
}
.admin label{
  font-size: 1.8em;
}
#admin{
  overflow: scroll;
}
