.lan_div_style h2{
  font-size: 1.1em;
  text-align: center;

}

.lan_div_style .col-lg-12  p {
  font-size: 0.8em;
  line-height: 1.6;
  text-align: center;
}
.btn-outline-danger{
  color: white;
}
.p-top{
  padding-top: calc(6rem + 72px);
}

.li-text{
  color: #0b0b0b;
  text-align: left;
  font-size: 0.8em;

}

.div_style h2{
  font-size: 1.1em;
  text-align: left;
}
.div_style p{
  font-size: 0.8em;
  text-align: justify;
  text-indent: 20px;
}
.list-group{
padding-bottom: 10px;
}


@media (min-width: 768px) {


  .lan_div_style h2{
    font-size: 2.1em;
  }

  .lan_div_style .col-lg-12 p {
    font-size: 1.3em;

  }

  .div_style h2{
    font-size: 2.1em;
  }
  .div_style p{
    font-size: 1.3em;
  }
  .li-text{
    font-size: 1.1em;
  }

}
