
#welcome {
  background-color: $primary;
}
//#welcome hr.star-light:after {
//  background-color: #ae1e2d;
//}

#welcome .img-size{
height: 250px;
width: auto;
}

#about hr.star-light:after {
 color: #fff;
 background-color: $third;
}
#about{
    .btn-outline-danger {
        border-color: $primary;
    }
}
.welcome{
  padding-bottom: calc(6rem + 2px);
}
.about{
  background-color: $third;
}

@media (min-width: 768px) {


#welcome .img-size{
 height: 400px;
width: auto;
}


}


