#ielts {
    background-color: $primary;
    p{
        padding-top: 30px;
        line-height: 40px;
    }
}
#ielts_test {
    background-color: $third;
    p{
        padding-top: 30px;
        line-height: 40px;
        font-size: 16pt;
    }
}
#why_ielts{
    background-color: $fourth;
    p{
        line-height: 40px;
    }
}
