#info_spage {
    background-color: #ad79a9;
    .btn-outline-danger {
        border-color: $primary;
        &:hover {
            background-color: $primary;
        }
    }
}
#info_spage hr.star-light:after {
    background-color: #ad79a9;
}
#ysc {
    background-color: $primary;
}
#yscs {
    background-color: $third;
}
