// Styling for the navbar
#mainNav {

  padding-top: 1rem;
  padding-bottom: 1rem;
    .navbar-toggler{
        background-color: $secondary;
        &:hover{
            background-color: $fourth;
        }
    }
  @include heading-font;
    .site-logo{
        width: 160px;
    }
  .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
    li.nav-item {
      a.nav-link {
        color: $secondary;
        font-size: 10pt;
        margin-right: -10px;
        &:hover {
          color: $nav-hover;
        }
        &:active,
        &:focus {
          color: $nav-focus;
        }
        &.active {
          color: white;

        }
      }
    }
  }
  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
}

