// Styling for the portfolio section
.ielts h3{
    color: white;
    text-align: left;
    font-size: 1.5rem;
    text-indent: 15px;
}
.sp-bg h3{
    color: white;
}
.li-text-p{
    background: transparent;
    border-color: transparent;
    text-align: left;
    font-size: 0.8em;

}
.sp-bg{
    background: #3b803e;
    border-color: #1f8019;


}
.portfolio {
    .portfolio-item {
        position: relative;
        display: block;
        max-width: 25rem;
        margin-bottom: 15px;

        .portfolio-item-caption {
            -webkit-transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            transition: all ease 0.5s;
            opacity: 0;
            background-color: fade-out($primary, .1);
            &:hover {
                opacity: 1;
            }
            .portfolio-item-caption-content {
                font-size: 1.5rem;
            }
        }
        .pop-zoom{

        }
    }
    @media (min-width: 576px) {
        margin-bottom: -30px;
        .portfolio-item {
            margin-bottom: 30px;
        }
    }
}

.portfolio-modal {
    .portfolio-modal-dialog {
        padding: 3rem 1rem;
        min-height: calc(100vh - 2rem);
        margin: 1rem calc(1rem - 8px);
        position: relative;
        z-index: 2;
        -moz-box-shadow: 0 0 3rem 1rem fade-out(black, .5);
        -webkit-box-shadow: 0 0 3rem 1rem fade-out(black, .5);
        box-shadow: 0 0 3rem 1rem fade-out(black, .5);
        .close-button {
            position: absolute;
            top: 2rem;
            right: 2rem;
            i {
                line-height: 38px;
            }
        }
        h2 {
            font-size: 2rem;
        }
    }
    @media(min-width: 768px) {
        .portfolio-modal-dialog {
            min-height: 100vh;
            padding: 5rem;
            margin: 3rem calc(3rem - 8px);
            h2 {
                font-size: 3rem;
            }
        }
    }
}
#courses{
    .l-card
    {
        max-width: 75%;
        margin-left: 25%;
    }
    .r-card{
        max-width: 75%;
        margin-rigth: 25%;
    }
    @media(max-width: 768px) {
        .l-card
        {
            max-width: 75%;
            margin: 0 auto;
        }
        .r-card{
            max-width: 75%;
            margin: 0 auto;
        }
    }
}
.course{
    a{
        .fa-3x
        {
            padding-top: 30px;
        }
    }
    p{
        line-height: 40px;
        font-size: 15pt;
        text-align: justify;
    }
    ul{
        padding: 10%;
        color: #f3e1d3;
        line-height: 35px;
        font-size: 14pt;
    }
    ul li{
        list-style: none;
        text-align: left;
    }
    .cont-slide{
        display: none;
    }
    .cont-slide-bg{
        background-color: $third;
        border-radius: 3px;
    }
    span.btn-danger{
        background-color: #ff6854;
        padding: 5px;
        border-radius: 3px;
    }
    .btn-danger{
        background-color: #ff6854;
    }
    .cont-slide{
        p{
            color: white;
            padding: 25px;
            margin: 0;
        }

    }
    .list-group{
        color: black;
        font-size: 11pt;
    }
    .ielts-rm{
        margin-bottom: 30px;
    }
    .style-one {
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }
}

@media (min-width: 768px) {


    .li-text-p{
        font-size: 1.1em;
    }

}
.spanish_crs_sh{
    span.btn-danger{
        background-color: #ff6854;
        padding: 5px;
        border-radius: 3px;
    }
}