
#spanish{
    background-color: $primary;
}

#spanish_crs_sh {
 background-color: $third;
}

#our_courses {
    background-color: $primary;
}

#accommodation {
    background-color: $fourth;
}

#accommodation hr.star-light:after {
    background-color: $fourth;
}

#our_courses hr.star-light:after {
    background-color: $primary;
}

#english_crs_sh {
    background-color: $third;
}
