body {
  font-family: 'Lato'; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat'; }

h3 {
  font-size: 18pt; }

hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

hr.center {
  margin: 0 auto;
  margin-top: 30px; }

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f0d7';
  font-family: FontAwesome;
  font-size: 2em; }

hr.star-light {
  border-color: #fff; }

hr.star-light:after {
  color: #fff;
  background-color: #f17c61; }

hr.star-dark {
  border-color: #786081; }

hr.star-dark:after {
  color: #786081;
  background-color: white; }

section {
  padding: 6rem 0; }
  section h2 {
    font-size: 2.25rem;
    line-height: 2rem; }
  @media (min-width: 992px) {
    section h2 {
      font-size: 3rem;
      line-height: 2.5rem; } }

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem; }

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem; }

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none; }
  .scroll-to-top a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(33, 37, 41, 0.5);
    line-height: 3.1rem; }

.drag {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: 'Montserrat'; }
  #mainNav .navbar-toggler {
    background-color: #786081; }
    #mainNav .navbar-toggler:hover {
      background-color: #5d4a64; }
  #mainNav .site-logo {
    width: 160px; }
  #mainNav .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem; }
    #mainNav .navbar-nav li.nav-item a.nav-link {
      color: #786081;
      font-size: 10pt;
      margin-right: -10px; }
      #mainNav .navbar-nav li.nav-item a.nav-link:hover {
        color: #af8bac; }
      #mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
        color: #ffb09e; }
      #mainNav .navbar-nav li.nav-item a.nav-link.active {
        color: white; }
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem; }

header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem; }
  header.masthead h1 {
    font-size: 3rem;
    line-height: 3rem; }
  header.masthead h2 {
    font-size: 1.3rem;
    font-family: 'Lato'; }

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem; }
    header.masthead h1 {
      font-size: 4.75em;
      line-height: 4rem; }
    header.masthead h2 {
      font-size: 1.75em; } }
.ielts h3 {
  color: white;
  text-align: left;
  font-size: 1.5rem;
  text-indent: 15px; }

.sp-bg h3 {
  color: white; }

.li-text-p {
  background: transparent;
  border-color: transparent;
  text-align: left;
  font-size: 0.8em; }

.sp-bg {
  background: #3b803e;
  border-color: #1f8019; }

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px; }
  .portfolio .portfolio-item .portfolio-item-caption {
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background-color: rgba(241, 124, 97, 0.9); }
    .portfolio .portfolio-item .portfolio-item-caption:hover {
      opacity: 1; }
    .portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
      font-size: 1.5rem; }
@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px; }
    .portfolio .portfolio-item {
      margin-bottom: 30px; } }

.portfolio-modal .portfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: calc(100vh - 2rem);
  margin: 1rem calc(1rem - 8px);
  position: relative;
  z-index: 2;
  -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5); }
  .portfolio-modal .portfolio-modal-dialog .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem; }
    .portfolio-modal .portfolio-modal-dialog .close-button i {
      line-height: 38px; }
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 2rem; }
@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px); }
    .portfolio-modal .portfolio-modal-dialog h2 {
      font-size: 3rem; } }

#courses .l-card {
  max-width: 75%;
  margin-left: 25%; }
#courses .r-card {
  max-width: 75%;
  margin-rigth: 25%; }
@media (max-width: 768px) {
  #courses .l-card {
    max-width: 75%;
    margin: 0 auto; }
  #courses .r-card {
    max-width: 75%;
    margin: 0 auto; } }

.course a .fa-3x {
  padding-top: 30px; }
.course p {
  line-height: 40px;
  font-size: 15pt;
  text-align: justify; }
.course ul {
  padding: 10%;
  color: #f3e1d3;
  line-height: 35px;
  font-size: 14pt; }
.course ul li {
  list-style: none;
  text-align: left; }
.course .cont-slide {
  display: none; }
.course .cont-slide-bg {
  background-color: #f58f7e;
  border-radius: 3px; }
.course span.btn-danger {
  background-color: #ff6854;
  padding: 5px;
  border-radius: 3px; }
.course .btn-danger {
  background-color: #ff6854; }
.course .cont-slide p {
  color: white;
  padding: 25px;
  margin: 0; }
.course .list-group {
  color: black;
  font-size: 11pt; }
.course .ielts-rm {
  margin-bottom: 30px; }
.course .style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc); }

@media (min-width: 768px) {
  .li-text-p {
    font-size: 1.1em; } }
.spanish_crs_sh span.btn-danger {
  background-color: #ff6854;
  padding: 5px;
  border-radius: 3px; }

#book_now .border-info {
  border-color: tomato !important; }
#book_now .form-group {
  text-align: center; }
#book_now .btn {
  background-color: #786081;
  border-color: #786081; }

.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef; }
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important; }
  .floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0; }
  .floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #e9ecef; }

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1; }

.floating-label-form-group-with-focus label {
  color: #f17c61; }

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef; }

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #786081;
  color: #fff; }

.copyright {
  background-color: #5d4a64; }

#about-us.padding {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem; }

#about-us {
  background-color: #f58f7e; }
  #about-us .grid {
    display: inline-grid; }
  #about-us .cont-slide {
    display: none; }
  #about-us .btn-danger {
    border-color: #f17c61;
    background-color: #ff7656; }
    #about-us .btn-danger:hover {
      background-color: #fc4545; }
  #about-us p {
    margin-top: 50px;
    font-size: 15pt;
    text-align: justify;
    line-height: 45px; }
  #about-us ul li {
    list-style: none;
    text-align: left;
    font-size: 15pt;
    line-height: 45px; }
    #about-us ul li:before {
      content: "- "; }

.button {
  margin-bottom: 15px;
  width: 100%; }

a {
  color: #f17c61; }
  a:focus, a:hover, a:active {
    color: #ed5532; }

.btn {
  border-width: 2px; }

.bg-primary {
  background-color: #f17c61 !important; }

.bg-secondary {
  background-color: #fff !important; }

.text-primary {
  color: #f17c61 !important; }

.text-secondary {
  color: #786081 !important; }

.btn-primary {
  background-color: #f17c61;
  border-color: #f17c61; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #ed5532;
    border-color: #ed5532; }

.btn-secondary {
  background-color: #786081;
  border-color: #786081; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #5d4a64;
    border-color: #5d4a64; }

.border-danger {
  border-color: tomato !important; }

#spanish {
  background-color: #f17c61; }

#spanish_crs_sh {
  background-color: #f58f7e; }

#our_courses {
  background-color: #f17c61; }

#accommodation {
  background-color: #5d4a64; }

#accommodation hr.star-light:after {
  background-color: #5d4a64; }

#our_courses hr.star-light:after {
  background-color: #f17c61; }

#english_crs_sh {
  background-color: #f58f7e; }

#welcome {
  background-color: #f17c61; }

#welcome .img-size {
  height: 250px;
  width: auto; }

#about hr.star-light:after {
  color: #fff;
  background-color: #f58f7e; }

#about .btn-outline-danger {
  border-color: #f17c61; }

.welcome {
  padding-bottom: calc(6rem + 2px); }

.about {
  background-color: #f58f7e; }

@media (min-width: 768px) {
  #welcome .img-size {
    height: 400px;
    width: auto; } }
#acc_guide {
  background-color: #d591a7; }
  #acc_guide .btn-outline-danger {
    border-color: #aa81a6; }
    #acc_guide .btn-outline-danger:hover {
      background-color: #aa81a6; }

#acc_guide hr.star-light:after {
  background-color: #d591a7; }

#acc_guide_aptm {
  background-color: #f17c61; }

#acc_guide_saptm {
  background-color: #f58f7e; }

.active {
  background: rebeccapurple; }

.acc_guide_aptm .strong {
  font-weight: 600;
  text-decoration: underline; }

#info_spage {
  background-color: #ad79a9; }
  #info_spage .btn-outline-danger {
    border-color: #f17c61; }
    #info_spage .btn-outline-danger:hover {
      background-color: #f17c61; }

#info_spage hr.star-light:after {
  background-color: #ad79a9; }

#ysc {
  background-color: #f17c61; }

#yscs {
  background-color: #f58f7e; }

.lan_div_style h2 {
  font-size: 1.1em;
  text-align: center; }

.lan_div_style .col-lg-12 p {
  font-size: 0.8em;
  line-height: 1.6;
  text-align: center; }

.btn-outline-danger {
  color: white; }

.p-top {
  padding-top: calc(6rem + 72px); }

.li-text {
  color: #0b0b0b;
  text-align: left;
  font-size: 0.8em; }

.div_style h2 {
  font-size: 1.1em;
  text-align: left; }

.div_style p {
  font-size: 0.8em;
  text-align: justify;
  text-indent: 20px; }

.list-group {
  padding-bottom: 10px; }

@media (min-width: 768px) {
  .lan_div_style h2 {
    font-size: 2.1em; }

  .lan_div_style .col-lg-12 p {
    font-size: 1.3em; }

  .div_style h2 {
    font-size: 2.1em; }

  .div_style p {
    font-size: 1.3em; }

  .li-text {
    font-size: 1.1em; } }
#ielts {
  background-color: #f17c61; }
  #ielts p {
    padding-top: 30px;
    line-height: 40px; }

#ielts_test {
  background-color: #f58f7e; }
  #ielts_test p {
    padding-top: 30px;
    line-height: 40px;
    font-size: 16pt; }

#why_ielts {
  background-color: #5d4a64; }
  #why_ielts p {
    line-height: 40px; }

.admin {
  background: rebeccapurple;
  padding-top: 150px;
  color: green; }

.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 1.8vh;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  background-color: #5ec2e1; }

.tab {
  margin-top: 20px;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(15, 25%);
  grid-auto-rows: 50px;
  grid-auto-columns: 40px; }

input {
  border-bottom-color: green;
  border-radius: 10px;
  width: 170px; }

.line {
  padding-top: 25px; }

.admin label {
  font-size: 1.8em; }

#admin {
  overflow: scroll; }
#acc_guide_aptm ul{
  padding: 0;
  margin: 0;
}

